
@{
    ViewData["Title"] = "Create";
}
@model Doctor

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Fullname" >Fullname</label>
        <input class="form-control" asp-for="Fullname"  placeholder="Enter fullname">
    </div>
    <div class="form-group">
        <label asp-for="Position">Position</label>
        <input class="form-control" asp-for="Position" placeholder="Position">
    </div>
    <div class="form-group">
        <label asp-for="FormFile">Position</label>
        <input class="form-control" asp-for="FormFile" accept="image/*">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

